<!-- <script>
    import { underline_value } from "../../stores/underline_value";

    let u1 = false;
    let u2 = false;
    let u3 = false;

    $: {
        switch($underline_value) {
            case 1: u1 = true; u2 = false; u3 = false; break;
            case 2: u1 = false; u2 = true; u3 = false; break;
            case 3: u1 = false; u2 = false; u3 = true; break;
            default: u1 = false; u2 = false; u3 = false; break;
        }
    }
</script> -->

<div class="route_links" th:fragment="route_links">
    <ul>
        <li>
            <a class="u1" th:href="@{/courses/add(userid=${userid})}">Add Course</a>
        </li>
        <li>
            <a class="u2" th:href="@{/courses(userid=${userid})}">List Courses</a>
        </li>
        <li>
            <a class="u3" href="/login">Logout</a>
        </li>
    </ul>
    
    <style>
        ul {
            display: flex;
            gap: 2.85rem;
        }
    
        .u1, .u2, .u3 {
            font-weight: 300;
            display: flex;
            position: relative;
            width: fit-content;
            margin: 0 0.3rem;
            padding: 0.2em 0;
        }
    
        /* Fade in */
        .u1::after, .u2::after, .u3::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--underline-color);
            overflow: hidden;
            transition: opacity 400ms, transform 400ms;
    
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
        }
    
        /* Slide in */
        .u1:hover::after, .u1:focus::after,
        .u2:hover::after, .u2:focus::after,
        .u3:hover::after, .u3:focus::after {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    </style>
</div>
